@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
/* *Sheared Style */
.flex_content {
    display: flex;
    justify-content: space-between;
}

.primary_text {
    color: rgba((39), 39, 39, 0.6);
    font-size: 18px;
    line-height: 30px;
}

.btn {
    font-size: 20opx;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    padding: 20px 43px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(229, 84, 115, 1);
}

/* *Main Style */

#header {
    background: rgba(229, 84, 115, 0.1);
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header_content {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.header_title {
    font-size: 80px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
    line-height: 96px;
    margin-bottom: 32px;
    max-width: 702px;
}

.header_description {
    margin-bottom: 32px;
    max-width: 634px;
}

@media screen and (max-width: 576px) {
    #header{
        height: auto;
    }
    .flex_content {
        flex-direction: column-reverse;
        padding: 20px 20px;
    }

    .header_title{
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .header_image {
        position: relative;
        max-width: 635px;
        height: auto;
        margin-bottom: 20px;
    }

    .header_image img {
        width: 100%;
        height: 400px;
    }
}
